<center> <h4 class="">Справки</h4> </center>



<div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
    <ul class=" navbar navbar-nav flex-grow-1">
        <li class="mb-3">
            <a class="btn btn-primary" asp-action="DateInvoice">Издадени фактури за клиент</a>
        </li>
        <li class="mb-3">
            <a class="btn btn-primary" asp-action="AllInvoice">Издадени фактури за период</a>
        </li>
        <li class="mb-3">
            <a class="btn btn-primary" asp-action="VisiteForTime">Посещения за период</a>
        </li>
        <li class="mb-3">
            <a class="btn btn-primary" asp-action="DateDeliveries">Доставки за период</a>
        </li>
        <li class="mb-3">
            <a class="btn btn-primary" asp-action="ForDeliverList">За доставка</a>
        </li>
        <li class="mb-3">
            <a class="btn btn-primary" asp-action="StaffVisite">Справка по служители</a>
        </li>
        
    </ul>
</div>