<center> <h4 class="">Настройки</h4> </center>
    


<div class ="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
    <ul class=" navbar navbar-nav flex-grow-1">
        <li class="mb-3">
            <a class="btn btn-primary" asp-action="SetAddon">Допълнителни</a>
        </li>
        <li class ="mb-3">
            <a class="btn btn-primary" asp-action="SetConsumatives">Консумативи</a>
        </li>
        <li class="mb-3">
            <a class="btn btn-primary" asp-action="SetServices">Услуги</a>
        </li>
        <li class="mb-3">
            <a class="btn btn-primary" asp-action="SetClient">Клиенти</a>
        </li>
        <li class="mb-3">
            <a class="btn btn-primary" asp-action="SetStaff">Служители</a>
        </li>
    </ul>
</div>